In [1]:
import os
os.getcwd()

'C:\\Users\\prana\\Market-Data-Analysis\\notebooks'

In [6]:
import pandas as pd
data = pd.read_csv("../data/AAPL.csv")
data.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN
2,2018-01-02,40.3809928894043,40.3903716472095,39.677736285832275,39.88871541307271,102223600
3,2018-01-03,40.373958587646484,40.91781205077507,40.31066807189711,40.44428495987144,118071600
4,2018-01-04,40.561492919921875,40.66463778519239,40.33879573005931,40.44662639688012,89738400

In [1]:
df[['Close','MA20','MA50']].head(25)

NameError: name 'df' is not defined